<div class="container-fluid d-flex justify-content-between nav">
  <div class="logo">
    <a routerLink="/home">
      <h1><i class="fas fa-home"></i>HomeBudget</h1>
    </a>
  </div>
  <div class="user-status">
    <button *ngIf="!isMember" class="btn btn-primary login" [routerLink]="['/login']">login</button>
    <button *ngIf="!isMember" class="btn btn-primary register me-2" [routerLink]="['/register']">register</button>
    <button *ngIf="isMember" class="btn btn-primary logout" (click)="logUserOut()">logout</button>
  </div>
</div>