.bud-card {
  padding: 15px;
  border: 1px solid #a00d0d;
  border-radius: 20px;

  .progress-bar {
    background-color: #a00d0d;
  }
  .min {
    color: #a00d0d;
  }
  p {
    padding-bottom: 4px;
  }
}
