.ex-table {
  .alert {
    background-color: #f7c1c1;
  }
  thead {
    th {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  tr {
    td {
      font-size: 1rem;
      i {
        width: 60px;
        background-color: #f0cfcf;
        color: #bb3030;
      }
    }
    .cat {
      .category {
        border-radius: 10px;
        width: 100px;
        margin: 0 auto;
        color: #fff;
        padding: 5px;
      }
    }
  }
}
