.main {
  height: 40rem;
  .left-section {
    margin-top: 6rem;
    padding-left: 3rem;
    .title {
      h1 {
        font : {
          size: 4rem;
          weight: 700;
        }
      }
      span {
        color: #1dbec5;
      }
      p {
        margin-bottom: 5rem;
      }
    }
    .actions {
      .register {
        button {
          width: 15rem;
          i {
            margin-right: 10px;
          }
        }
      }
      .login {
        p {
          font-size: 18px;
        }
        button {
          width: 15rem;
          i {
            margin-right: 10px;
          }
        }
      }
    }
  }
  .right-section {
    background-image: url(../../../assets/dd.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
