<div class="container-fluid">
  <div class="row main">
    <div class="col-6 left-section ">
      <div class="title">
        <h1>Take Control of <span>Your Money</span></h1>
        <p>personal budgeting is the secret to financial freedom. Start your journey today</p>
      </div>
      <div class="actions d-flex justify-content-around">
        <div class="register ">
          <p>Join our Family</p>
          <button class="btn btn-primary" [routerLink]="['/register']"><i class="fas fa-user-plus"></i>
            Register</button>
        </div>
        <div class="login">
          <p>already have an account</p>
          <button class="btn btn-primary" [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Login</button>
        </div>
      </div>
    </div>
    <div class="col-6 right-section"></div>
  </div>
</div>
