<div class="container-fluid">
  <div class="main-page">
    <h1 class="main-title">welcome back, <span>Bugarray</span></h1>
    <div class="row">
      <div class="col-6">
        <div class="outer-border">
          <div class="inner-border">
            <form [formGroup]="createBudgetForm" (submit)="addBudget()">
              <div class="create-budget">
                <h3 class="card-title"> Create Budget</h3>
                <label for="budget-name">Budget Name</label>
                <input formControlName="name" name="budget-name" type="text" placeholder="add budget name"
                  class=" form form-control bud-name">
                <div class="name-alert"
                  *ngIf="createBudgetForm.get('name')?.touched && createBudgetForm.get('name')?.errors">
                  <p *ngIf="createBudgetForm.get('name')?.errors?.['required']">bdget name is required</p>
                  <p *ngIf="createBudgetForm.get('name')?.errors?.['minlength']">the name must be greater than 3
                    letters</p>
                </div>
              </div>
              <div class="amount mt-3">
                <label for="amount">Amount</label>
                <input formControlName="amount" name="amount" type="number" placeholder="e.g 250"
                  class=" form form-control amount">
                <div class="amount-alert"
                  *ngIf="createBudgetForm.get('amount')?.touched && createBudgetForm.get('amount')?.errors">
                  <p *ngIf="createBudgetForm.get('amount')?.errors?.['required']">amount is required</p>
                </div>
              </div>
              <button type="submit" class="btn btn-secondary">Create Budget<i
                  class="fas fa-arrow-circle-up"></i></button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="outer-border">
          <div class="inner-border">
            <app-add-expense [detailsBudList]="true"></app-add-expense>
          </div>
        </div>
      </div>
    </div>
    <div class="sub-title">
      <h2>Existing Budgets</h2>
    </div>
    <div class="bud-cards">
      <div class="row g-3">
        <div class="col-4" *ngFor="let card of budgetList">
          <app-budget-card [deleteBudgetBtn]="false" [renameBudgetBtn]="false" [viewDetailsBtn]="true"
            [currentCard]="card"></app-budget-card>
        </div>
      </div>
    </div>
    <div class="recent">
      <div class="sub-title">
        <h2>Recent Expenses</h2>
      </div>
      <div class="container">
        <app-expense-items [detailsComp]="true"></app-expense-items>

      </div>

    </div>
  </div>
</div>