.main-page {
  padding: 20px;
  .main-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    span {
      color: #1dbec5;
    }
  }
  .outer-border {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #1dbec524;
    .inner-border {
      border: 2px dashed #ddd;
      border-radius: 10px;
      padding: 20px;
      .card-title {
        margin-bottom: 10px;
      }
      label {
        font-size: 18px;
        margin-bottom: 5px;
      }
      button {
        margin-top: 15px;
        i {
          margin-left: 10px;
        }
      }
    }
  }
  .sub-title {
    margin-top: 1rem;
    h2 {
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
  .bud-cards {
    .bud-card {
      padding: 15px;
      border: 1px solid #a00d0d;
      border-radius: 20px;

      .progress-bar {
        background-color: #a00d0d;
      }
      .min {
        color: #a00d0d;
      }
    }
    .details-btn {
      button {
        background-color: #a00d0d;
      }
    }
  }
}
.ex-table {
  thead {
    th {
      font-size: 1.5rem;
      font-weight: 600;
    }
  }
  tr {
    td {
      font-size: 1rem;
      i {
        width: 60px;
        background-color: #f0cfcf;
        color: #bb3030;
      }
    }
    .cat {
      .category {
        border-radius: 10px;
        width: 80px;
        margin: 0 auto;
        background-color: #bb3030;
        color: #fff;
        padding: 8px;
      }
    }
  }
}
